
        <div class="footer">
            <div class ="footer-menu">
                <div class="one-footer-menu" >
                    <div class="foot-menu-tit">
                        Компания
                    </div>
                    <div class="first-list">
                    <ul>
                        <li><a href="/about">О нас</a></li>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Адрес</a></li>
                        <li><a href="">Контакты</a></li>
                        <li><a href="">Отзывы</a></li>
                    </ul>
                    </div>
                </div>
                <div class="one-footer-menu" >
                        <div class="foot-menu-tit">
                           Информация
                        </div>
                        <div class="second-list">
                        <ul>
                            <li><a href="">Доставка и оплата</a></li>
                            <li><a href="">Бренды</a></li>
                            <li><a href="">Поленая информация</a></li>
                            <li><a href="">Акции</a></li>
                        </ul>
                        </div>
                    </div>
                    <div class="one-footer-menu" >
                            <div class="foot-menu-tit">
                                Каталог
                            </div>
                            <div class="third-list">
                            <ul>
                                <li><a href="">Уход за кожей</a></li>
                                <li><a href="">Уход за волосами</a></li>
                                <li><a href="">Макияж </a> </li>
                                <li><a href="">Для мужчин</a></li>
                            </ul>
                            </div>
                        </div>


            </div>
        </div>