

body{
    background-color: rgb(249, 249, 249);
    margin-top: 30px;
   
}
.right{
    float:right;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(219, 214, 214);
    margin-right: 300px;
padding:30px;  
}
.btn{
  margin-left: 16px;
    height: 35px;
    width: 250px;
    color:white;
    background:rgb(83, 156, 245);
    border-radius: 7px;
}

.left{
    float:left;
    margin-left: 250px;
    margin-top: 60px;
 
  
}
