<header>
  <div id="line"></div>


      <div id="sign">
           <button id="signup" style="border:none;
           margin-top:3px ;
           background-color: white;
           margin-left: 35px;
           height: 33px;
           width: 70px;
           font-size:20px ;">Вход</button>
           <a style="margin-left: 30px">or</a>
           <button id="signin" style="border:none;
           margin-top:3px ;
           background-color: white;
           margin-left: 35px;
           height: 33px;
           width: 130px;
           font-size:20px ;">Регистрация</button>
           <a href="" Style="margin-left: 230px;"> О КОМПАНИИ</a>
           <a href="" style="margin-left: 50px;">КОНТАКТЫ</a>
           <a class="city">Ваш город:</a>
           <select class="city" style="margin-left: 30px; width: 180px; height: 30px;">
                  <option value="Almaty">Almaty</option>
                  <option value="Astana">Astana</option>
                  <option value="Shymkent">Shymkent</option>
                  <option value="Aktau">Aktau</option>
                </select> 
      </div>
     <div id="logo"> 
         <img src="../../assets/images/logo.png" id="logo-img"> 
     <div> <button class="cont">УХОД ЗА КОЖЕЙ</button>
          <button class="cont">МАКИЯЖ</button>
          <button class="cont">УХОД ЗА ВОЛОСАМИ</button>
          <button class="cont">ДЛЯ МУЖЧИН</button>
          </div>
</div>
</header>