*{
    padding: 0px;
    margin:0px; 
    }
    
   
    #line{
      /* border: 1px solid black;   */
      height:30px;
      /* margin-left: 10px; */
      background-color: #85ada4;
    }
    #logo{
        /* border: 1px solid black; */
        background-color: #85ada4;
        width: auto;
    }
    #logo-img{
        margin-left:510px;
    }
    .city{
        margin-bottom: 2px;
        font-size:15px ;
        margin-left: 330px;
       
    }
   .cont{
       font-size: 18px;
       background-color: #85ada4;
       color:white;
       margin-top: 30px;
       margin-bottom: 10px;
     margin-left: 70px; 
     margin-right: 80px; 
    height: 80px;
        width: 200px; 
        border-radius: 15px;
        border: 5px solid rgb(183, 106,153) ;
   }
   #ads{
 height: 505px;
    width:auto;
   }
   