
  <img src="../../assets/images/one.png" id="ads">
        <h1 style="margin-left: 550px; margin-top: 30px;">Хиты продаж</h1>
        <div class ="bestitems">
                    <div class="one-item" style="margin-left: 40px; margin-top: 10px">
                        <div class="one-item-in">
                            <img src="../../assets/images/grlbest.png">
                        </div>
                        <div class = "one-item-desc"> 
                            <div class="one-item-made">
                                <a>Guerlain</a>
                            </div>
                            <div class="one-item-about">
                                <a>Лёгкое масло-сыворотка для лица</a>
                            </div>
                            <div class ="one-item-sub">
                                <a> ABEILLE ROYAL</a>
                            </div>
                            <div class="one-item-new">
                                <a>хит продаж</a>
                            </div>
                            <div class ="one-item-price"> 
                                <div class="now-item-price">19000 тг.</div>
                            </div>
                        </div>
                    </div>

                    <div class="one-item" style="margin-left: 340px; margin-top: -272px">
                            <div class="one-item-in">
                                <img src="../../assets/images/clbest.png">
                            </div>
                            <div class = "one-item-desc"> 
                                <div class="one-item-made">
                                    <a>Clinique</a>
                                </div>
                                <div class="one-item-about">
                                    <a>Интенсивно увлажняющий крем</a>
                                </div>
                                <div class ="one-item-sub" style="margin-left: -30px;">
                                    <a> Moisture Surge Intense Skin Fortifying Hydrator</a>
                                </div>
                                <div class="one-item-new">
                                    <a>хит продаж</a>
                                </div>
                                <div class ="one-item-price"> 
                                    <div class="now-item-price">9200 тг.</div>
                                </div>
                            </div>
                        </div>

                        <div class="one-item" style="margin-left: 700px; margin-top: -272px">
                                <div class="one-item-in">
                                    <img src="../../assets/images/estbest.png" style="height: 170px;">
                                </div>
                                <div class = "one-item-desc"> 
                                    <div class="one-item-made">
                                        <a>Estee Lauder</a>
                                    </div>
                                    <div class="one-item-about" style="margin-left: -40px;">
                                        <a>Универсальный восстанавливающий комплекс </a>
                                    </div>
                                    <div class ="one-item-sub" style="margin-left: 30px;">
                                        <a> II Advanced Night Repair</a>
                                    </div>
                                    <div class="one-item-new">
                                        <a>хит продаж</a>
                                    </div>
                                    <div class ="one-item-price"> 
                                        <div class="now-item-price">33500 тг.</div>
                                    </div>
                                </div>
                            </div>   
                            
                            <div class="one-item" style="margin-left: 1040px; margin-top: -272px">
                                    <div class="one-item-in">
                                        <img src="../../assets/images/cl2best.png" style="height: 170px;">
                                    </div>
                                    <div class = "one-item-desc"> 
                                        <div class="one-item-made">
                                            <a>Clinique</a>
                                        </div>
                                        <div class="one-item-about" style="margin-left: -20px;">
                                            <a>Матирующий увлажняющий крем</a>
                                        </div>
                                        <div class ="one-item-sub" style="margin-left: -10px;">
                                            <a> Pep-Start HydroBlur Moisturizer</a>
                                        </div>
                                        <div class="one-item-new">
                                            <a>хит продаж</a>
                                        </div>
                                        <div class ="one-item-price"> 
                                            <div class="now-item-price">12500 тг.</div>
                                        </div>
                                    </div>
                                </div>     
        </div>
        
        
        <h1 style="margin-left: 600px; margin-top: 30px;">Скидки</h1>
        <div class ="bestitems">
                    <div class="one-item" style="margin-left: 40px; margin-top: 10px">
                        <div class="one-item-in" >
                            <img src="../../assets/images/mbsale.png" style="height: 170px;">
                        </div>
                        <div class = "one-item-desc"> 
                            <div class="one-item-made">
                                <a>Mont Blanc</a>
                            </div>
                            <div class="one-item-about">
                                <a>EMBLEM Туалетная вода</a>
                            </div>
                            <!-- <div class ="one-item-sub">
                                <a> ABEILLE ROYAL</a>
                            </div> -->
                            <!-- <div class="one-item-new">
                                <a>хит продаж</a>
                            </div> -->
                           
                            <div class ="one-item-price"> 
                                <div class="old-item-price">17000 тг.</div>
                                <div class="now-item-price">10000 тг.</div>
                            </div>
                        </div>

                        <div class="one-item" style="margin-left: 250px; margin-top: -254px;">
                                <div class="one-item-in" >
                                    <img src="../../assets/images/batsale.png" style="height: 170px;">
                                </div>
                                <div class = "one-item-desc"> 
                                    <div class="one-item-made">
                                        <a>Batiste</a>
                                    </div>
                                    <div class="one-item-about">
                                        <a>Сухой шампунь CHERRY</a>
                                    </div>
                                
                                    <div class ="one-item-price"> 
                                        <div class="old-item-price">4000 тг.</div>
                                        <div class="now-item-price">2700 тг.</div>
                                    </div>
                                </div>
                                <div class="one-item" style="margin-left: 260px; margin-top: -254px;">
                                        <div class="one-item-in" >
                                            <img src="../../assets/images/glamsale.png" style="height: 170px;">
                                        </div>
                                        <div class = "one-item-desc"> 
                                            <div class="one-item-made" style="margin-left: 40px">
                                                <a>Glamglow</a>
                                            </div>
                                            <div class="one-item-about" style="margin-left: 32px;">
                                                <a>Маска для лица</a>
                                            </div>
                                        
                                            <div class ="one-item-price"> 
                                                <div class="old-item-price">10000 тг.</div>
                                                <div class="now-item-price">5700 тг.</div>
                                            </div>
                                        </div>
                                        <div class="one-item" style="margin-left: 270px; margin-top: -254px;">
                                                <div class="one-item-in" >
                                                    <img src="../../assets/images/palmsale.png" style="height: 170px;">
                                                </div>
                                                <div class = "one-item-desc"> 
                                                    <div class="one-item-made">
                                                        <a>Palmer's</a>
                                                    </div>
                                                    <div class="one-item-about">
                                                        <a>Мужской гель для умывания</a>
                                                    </div>
                                                
                                                    <div class ="one-item-price"> 
                                                        <div class="old-item-price">7000 тг.</div>
                                                        <div class="now-item-price">5200 тг.</div>
                                                    </div>
                                                </div>
                                                <div class="one-item" style="margin-left: 270px; margin-top: -254px;">
                                                        <div class="one-item-in" >
                                                            <img src="../../assets/images/gvnsale.png" style="height: 170px;">
                                                        </div>
                                                        <div class = "one-item-desc"> 
                                                            <div class="one-item-made">
                                                                <a>Givenchy</a>
                                                            </div>
                                                            <div class="one-item-about">
                                                                <a>Увлажняющий BB крем </a>
                                                            </div>
                                                        
                                                            <div class ="one-item-price"> 
                                                                <div class="old-item-price">20000 тг.</div>
                                                                <div class="now-item-price">12000 тг.</div>
                                                            </div>
                                                        </div>

                    </div>
         <div class ="comp">
            <img src="../../assets/images/comp1.png">
            <img src="../../assets/images/addit.png" class="addit"> 
            <img src="../../assets/images/comp2.png">
            <img src="../../assets/images/addit.png" class="addit"> 
            <img src="../../assets/images/comp3.png">
            <img src="../../assets/images/addit.png" class="addit"> 
            <img src="../../assets/images/comp4.png">
            <img src="../../assets/images/addit.png" class="addit"> 
            <img src="../../assets/images/comp5.png">
            <img src="../../assets/images/addit.png" class="addit"> 
            <img src="../../assets/images/comp6.png">
            <img src="../../assets/images/addit.png" class="addit"> 
            <img src="../../assets/images/comp7.png">
         </div>
      